@media (max-width: 1364px) {
    .features_section_content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1349px) {
    .menu_list {
        margin-left: 100px;
    }
}

@media (max-width: 1340px) {
    .video_section_content {
        padding-right: 0;
    }
}

@media (max-width: 1300px) {
    .app_download_section_content {
        padding-right: 0;
    }
}

@media (max-width: 1270px) {
    .menu_list {
        margin-left: 50px;
    }
}

@media (min-width: 1200px) {
    .mobile_menu {
        display: none;
    }
}

@media (max-width: 1200px) {
    .header {
        display: none;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #ed4c5c;
        width: 250px;
        padding-bottom: 40px;
    }

    .gallery_container {
        display: none;
    }

    .app_download_section_content > .text_description {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu_button {
        display: block;
        position: absolute;
        right: 35px;
        top: 50px;
        width: 40px;
        height: 2px;
        background-color: #FFFFFF;
        border: none;
        z-index: 50;
    }
    .menu_button:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 2px;
        margin-top: -10px;
        transition: transform 0.2s;
        background-color: #FFFFFF;
        z-index: 50;
    }
    .menu_button:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 2px;
        margin-top: 10px;
        transition: transform 0.2s;
        background-color: #FFFFFF;
        z-index: 50;
    }
    .menu_button_active {
        height: 0;
        z-index: 50;
    }
    .menu_button_active:before {
        transform: rotate(45deg);
        margin-top: 0;
        z-index: 50;
    }
    .menu_button_active:after {
        transform: rotate(-45deg);
        margin-top: 0;
        z-index: 50;
    }
    .header_active {
        margin-top: 0;
        display: flex;
        padding-top: 60px;
        z-index: 50;
    }
    .video_section_content {
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
    }
    .video_preview {
        margin-top: 40px;
    }
    .play_button {
        top: 50%;
        left: 45%;
    }

}

@media (max-width: 880px) {
    .footer_content {
        flex-wrap: wrap;
    }
    .footer_card {
        width: 50%;
    }
    #footer_card_4 {
        margin-top: 20px;
        width: 42%;
    }
}

@media (max-width: 768px) {
    .intro_section h1{
        line-height: 50px;
        font-size: 50px;
    }
    .intro_section p {
        font-size: 20px;
    }
    .technology {
        padding-bottom: 50px;
    }
    .app_download {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .contact {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .contacts_section_content {
        flex-direction: column;
        align-items: center;
    }
    .contacts_section_content > .text_description {
        text-align: center;
    }
    .contact_form {
        margin-top: 30px;
    }
    .contact_form > input[type=submit] {
        margin: 0 auto;
        margin-top: 27px;
    }
    #footer_card_4 {
        width: 48%;
    }
    footer {
        padding-top: 40px;
    }
}

@media (max-width: 743px) {
    .footer_content {
        flex-direction: column;
        align-items: center;
    }
    .footer_card {
        margin-top: 20px;
    }
    #footer_card_1 {
        width: 220px;
    }
    #footer_card_2 {
        width: 220px;
    }
    #footer_card_3 {
        width: 220px;
    }
    #footer_card_4 {
        width: 220px;
    }
}

@media (max-width: 670px) {
    .technology_section_content {
        flex-direction: column;
    }
    .technology_card {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .contact_form {
        width: 90%;
    }
    .contact_form input[type=text]{
        width: 100%;
    }
    .contact_form input[name=name] {
        margin-bottom: 24px;
    }
}

@media (max-width: 550px) {
    .intro_section p {
        width: 100%;
        font-size: 14px;
        text-align: center;
    }
    .intro_section h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
    .video_preview {
        margin-top: 0;
    }
    .play_button {
        top: 40%;
    }
    .video_player {
        margin-top: 30px;
    }
    .container {
        width: 96%;
    }
}

@media (max-width: 480px) {
    .intro_section p {
        font-size: 15px;
    }
    .intro_signup {
        width: 100px;
        height: 35px;
        font-size: 10px;
    }
    .header_login {
        width: 70px;
        height: 30px;
        font-size: 10px;
    }
    .video_section_content {
        align-items: center;
    }
    .video_player {
        width: 100%;
    }
    .video_preview {
        width: 100%;
    }
    .play_button {
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(160px, -180px);
    }
    .play_button > img {
        transform: none;
    }
    h2 {
        line-height: 30px;
        font-size: 20px;
    }
    .text_description {
        padding-top: 0;
        width: 100%;
    }
    .features {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .technology {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .features_card {
        width: 100%;
    }
}

@media (max-width: 375px) {
    .play_button {
        transform: translate(150px, -180px);
    }
}

@media (max-width: 350px) {
    .intro_section h1 {
        font-size: 30px;
    }
    .features_card_background > img {
        width: 300px;
    }
}